.card{
    font-size: 1rem;
    border: 1px black solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    cursor: pointer;
}
.card:hover{
    scale: 1.1;
}